.details_background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -30px;
}

.details_container {
    background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0) 100%);
    padding: 130px;
    border-radius: 50px;
    max-width: 75vw;
    display: flex;
}

.company-logo {
    height: 70px;
}

.detail-movie-cover {
    height: 600px;
    width: 400px;
    border-radius: 40px;
    object-fit: cover;
    object-position: 50% 50%;
    background-position: 40% 50%;
}

.title {
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.tagline {
  color: white;
  font-weight: 200;
  margin-bottom: 25px;
  margin-top: -10px;
}
  
.description {
    margin-bottom: 15px;
    margin-top: 0px;
    color: rgb(200, 200, 200);
}

.link_home {
  background-color: cadetblue;
  width: 140px;
  padding: 6px;
  margin-bottom: 15px;
  margin-top: 0px;
  font-style: none;
  color: rgb(215, 242, 255);
}
  
.img_section {
    margin-right: 50px;
}
  
.profile_desc_section {
    max-width: 1000px;
    display: flex;
    position: sticky;
    flex-direction: column;
    margin-left: 150px;
}
  
.interests_item {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 7.5px;
    margin-bottom: 10px;
    line-height: 35px;
    background-color: #e6e6e6;
    border-radius: 5px;
    color: rgb(34, 34, 34);
  }
  
 
.link_img_wrapper {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 10px;
    position: relative;
}
  
.link_img {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

.cast-container {
  border: 1px solid lightblue;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cast-wrapper {
  background-color: lightblue;
  height: 156px;
  display: flex;
  justify-content: center;
}

.cast-card {
  height: 130px;
  flex-direction: row;
  align-items: center;
}

.cast-text {
  color: rgb(190, 190, 190);
  font-weight: bold;
  font-size: 1.3em;
  margin: 8px;
}

.cast-pic {
  margin: 10px 10px 0px 10px;
  height: 100px;
  width: 65px;
  border-radius: 15px;
}

.cast-name {
  margin: 5px;
  width: 100px;
  line-height: 15px;
}
  
  /* ul {
    padding: 0px;
  }
  
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }
  
  li p {
    margin-left: 30px;
    color: rgba(34, 34, 34, 0.5);
  } */
  
@media screen and (max-width: 1000px) {
    .details_container,
    .info {
      margin: 60px 33px 0px;
    }
  
    .details_container {
      flex-direction: column;
    }
  
    .img_section {
      margin: 0 auto;
    }
  
    .profile_img-LG {
      width: 300px;
      height: 300px;
      border-radius: 100%;
    }
  
    .profile_desc_section {
      width: 500px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 20px;

    }
  
}