body {
    /* background-color: #212529; */
    background-color: #6fa5db;
}

.HorizontalScrollContainer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0) 85%, rgba(33,37,41,1) 100%);
    width: 100%;
    height: 300px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}


.cards_at_Movies_Pages{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.HorizontalMain {
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
