body {
    background-color: rgb(78, 144, 153);
}

.HorizontalScrollContainer {
    width: 100%;
    height: 300px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.HorizontalMain {
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.HorizontalBG1 {
    background-color: royalblue;
}

.HorizontalBG2 {
    background-color: seagreen;
}

.HorizontalBG3 {
    background-color: tomato;
}

.HorizontalBG4 {
    background-color: yellow;
}