/* Footer  ---------------------------------------------------------------------------------*/

footer{
  padding-top: 70px;
  bottom: 0px;
}

.footer-container {
  width: 100vw;
  font-size: 12px;
  color: #fff;
  bottom: 0px;
  position: fixed;
}

.inner-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -8px;
}

.footer-text{
  width: 40vw
}

.contact{
  margin-top: 15px;
}

.copyright{
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 3px 0px 0px 0px;
  line-height: 25px;
}

.icons li{
  list-style: none;
}

.footer_img {
  margin: 10px;
  height: 30px;
}